<div>
  <div class="header-act">
    <h1>Liste des acteurs</h1>
    <div class="ajouter" (click)="ajoutActeur()" >
      <p>Ajouter un acteur</p>
    </div>
  </div>
  <div class="grille">
    <div class="" *ngFor="let acteur of acteurs">
      <div class="imgContainer">
        <img src="{{'https://image.tmdb.org/t/p/original' + acteur?.profile_path}}" class="afficheFilm" (click)="showPopUp(acteur)">
      </div>
      <div class="txtContainer">
        <h3 class="titre" style="color: #f2f2f2">{{ acteur.name }}</h3>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="popUp" [ngStyle]="{'height.px': popupHeight}">
    <div class="col">
      <img class="imgFilm" src="{{'https://image.tmdb.org/t/p/original' + acteur?.profile_path}}" (load)="setPopupHeight($event)">
    </div>
    <div class="col col-info">
      <img (click)="popUp = false" src="assets/img/annuler.png" class="croixPopUp">
      
      <h1>{{ acteur?.name }}</h1>
        
      <div class="acteur-info">
        <p><strong>Date de naissance:</strong> {{ acteur?.birthday }}</p>
  
        <p><strong>Lieu de naissance:</strong> {{ acteur?.place_of_birth }}</p>
  
        <p *ngIf="acteur?.death_day"><strong>Date de décès:</strong> {{ acteur?.death_day }}</p>
  
        <p><strong>Biographie : </strong> {{ acteur?.biography }}</p>
      </div>
    </div>
  </div>
  
</div>

