
h1{
  margin-top: -0.6%;
  padding-top: 2%;
  margin-left: 3%;
  color: white;
  font-family: 'Hind', sans-serif;
}

h3{
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  margin: 0px;
  margin-right: 4px;
  display: inline-block;
  color: #E50914;
}

li{
  font-family: 'Hind', sans-serif;
  color: grey;
}

.grille {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  margin-left: 3%;
  margin-right: 3%;
  grid-gap: 0.1%;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 300px;
}

.imgContainer > .afficheFilm{
  border-radius: 4px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  cursor:pointer;
  position: absolute;
}

.croix{
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: relative;
  top: 10px;
  right: 5px;
  float:right;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000;
  border-radius: 50%;
}

.popup {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #141414;
  border: 1px solid black;
  width: 40%;
  height: 92%;
  box-shadow: 0px 0px 500px 500px rgba(0,0,0);
  display: flex;
}

.popup .croixPopUp{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.popup h1{
  color: white;
  font-family: 'Hind', sans-serif;
}


.popup .imgFav{
  cursor: pointer;
  max-height: 50%;
  margin: 17px;
}

.popup span{
  color: grey;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  display: block;
  margin-top: 2%;
  margin-left: 2%;
  height: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444343;
  opacity: 0.8;
  display: block;
}

.cardFilm{
  height: 100px;
}

.imgFilm{
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.col{
  flex: 50%;
}

.col-info{
  padding-left: 20px;
}
//Card personnage

.cardPersonnage{
  //border: solid 1px red;
  width: 300px;
  display: inline-flex;
}

.cardPersonnage img{
  height : 150px;
  flex: 50%;
  float: left;
  object-fit: contain;
}

.cardPersonnageInfoFilm {
  flex: 50%;
}

.cardPersonnageTitre{
  font-size: 1.5em;
  font-weight: bold;
  color: #c73a54;
  font-family: 'Hind', sans-serif;
}

.ajouter{
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #069AD8;
  border-radius: 5px;
  width: 170px;
  height: 40px;
  cursor: pointer;
}

.ajouter p{
  color: white;
  font-family: 'Hind', sans-serif;
}

.header-act {
  display: flex;
  align-items: center;
}

.col-info {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.croixPopUp {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.acteur-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.acteur-info p {
  margin-bottom: 10px;
}

.acteur-info strong {
  font-weight: bold;
}
