
h1{
  margin-top: -0.6%;
  padding-top: 2%;
  margin-left: 3%;
  color: white;
  font-family: 'Hind', sans-serif;
}

h3{
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  margin-right: 4px;
  display: inline-block;
  color: #069AD8;
}

p{
  display: inline-block;
  margin-top: -7%;
  color: grey;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
}

li{
  font-family: 'Hind', sans-serif;
  color: grey;
}

.grille {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  margin-left: 3%;
  margin-right: 3%;
  grid-gap: 1%;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 300px;
}

.imgContainer > .afficheFilm{
  border-radius: 4px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  cursor:pointer;
  position: absolute;
}

.croix{
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: relative;
  top: 10px;
  right: 5px;
  float:right;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000;
  border-radius: 50%;
}

.popup {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
}


.cardFilm{
  height: 100px;
}

.imgFilm{
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.col{
  flex: 50%;
}

.col-info{
  padding-left: 20px;
}


//Card personnage

.cardPersonnage{
  //border: solid 1px red;
  width: 300px;
  display: inline-flex;
}

.cardPersonnage img{
  height : 150px;
  flex: 50%;
  float: left;
  object-fit: contain;
}

.cardPersonnageInfoFilm {
  flex: 50%;
}

.cardPersonnageTitre{
  font-size: 1.5em;
  font-weight: bold;
  color: #c73a54;
  font-family: 'Hind', sans-serif;
}


