<div class="blur">
  <div class="grille">
    <div class="" *ngFor="let film of films">
      <div class="imgContainer">
        <img src="{{'https://image.tmdb.org/t/p/original' + film.poster_path}}" class="afficheFilm" (click)="showPopUp(film)">
      </div>
      <div class="txtContainer">
        <h3 class="titre" style="color: #f2f2f2">{{ film.title }}</h3>
        <p style="display: block">{{ film?.codeCat?.libelleCat }}</p>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="popUp">    
    <app-pop-up [film]="film" (closePopUp)="onClosePopUp()"></app-pop-up>
  </div>
  

</div>

