h1{
  color: #E50914;
  font-size: 2rem;
  font-family: 'Hind', sans-serif;
  text-align: center;
}

p{
  font-family: 'Hind', sans-serif;
  color: white;
  text-align: center;
  font-size: 1rem;
}


