body{
  background-color: black;
  padding-bottom: 3%;
}


h1{
  text-align: center;
  color: white;
  font-family: 'Hind', sans-serif;
}

table {
  margin-left: 15%;
  font-family: 'Hind', sans-serif;
  width: 70%;
  border-collapse: collapse;
}

table td, table th {
  padding: 8px;
}

table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:nth-child(even){background-color: rgba(242, 242, 242, 0.89);}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

table .nomPers{
  width: 25%;
}

table .acteur{
  width: 25%;
}

table .film{
  width: 25%;
}

table .action{
  width: 10%;
}

table img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4%;
  cursor: pointer;
}

.ajouter{
  background-color: #069AD8;
  border-radius: 5px;
  width: 15%;
  text-align: center;
  margin-left: 42%;
  cursor: pointer;
}

.ajouter:hover{
  background-color: rgba(226, 63, 102, 0.74);
}

.ajouter p{
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: 'Hind', sans-serif;
}
