<div>
  <div class="header-real">
    <h1>Liste des réalisateurs</h1>
    <div class="ajouter" (click)="ajoutRealisateur()">
      <p>Ajouter un realisateur</p>
    </div>
  </div>
  <div class="grille">
    <div class="" *ngFor="let realisateur of realisateurs">
      <div class="imgContainer">
        <img src="{{'https://image.tmdb.org/t/p/original' + realisateur.profile_path}}" class="afficheFilm" (click)="showPopUp(realisateur)">
      </div>
      <div class="txtContainer">
        <h3 class="titre" style="color: #f2f2f2">{{ realisateur.name }}</h3>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="popUp" [ngStyle]="{'height.px': popupHeight}">
    <div class="col">
      <img class="imgFilm" src="{{'https://image.tmdb.org/t/p/original' + realisateur?.profile_path}}" (load)="setPopupHeight($event)">
    </div>
    <div class="col col-info">
      <img (click)="popUp = false" src="assets/img/annuler.png" class="croixPopUp">
      
      <h1>{{ realisateur?.name }}</h1>
        
      <div class="realisateur-info">
        <p><strong>Date de naissance:</strong> {{ realisateur?.birthday }}</p>
  
        <p><strong>Lieu de naissance:</strong> {{ realisateur?.place_of_birth }}</p>
  
        <p *ngIf="realisateur?.death_day"><strong>Date de décès:</strong> {{ realisateur?.death_day }}</p>
  
        <p><strong>Biographie : </strong> {{ realisateur?.biography }}</p>
      </div>
    </div>
  </div>
</div>

