<h1>Se connecter</h1>
<p>Vous avez déjà un compte POLYCINEMA ? Saisissez l'identifiant de votre compte POLYCINEMA.</p>

<form>
  <input type="login" name="login" placeholder="Identifiant" [(ngModel)]="login">
  <label>Mot de passe </label>
  <input type="password" name="password" placeholder="Mot de passe" [(ngModel)]="password">
  <input type="submit" class="btn-connexion" (click)="onSubmit()" value="Connexion">
</form>

<p>Vous n'avez pas encore de compte my POLYCANAL ?</p>
<div (click)="goAjoutProfil()">
  <p>Inscription</p>
</div>
