h1{
  margin-top: -0.6%;
  text-align: left;
  padding-top: 5%;
  padding-left: 15%;
  color: white;
  font-family: 'Hind', sans-serif;
}

form{
  width: 70%;
  margin-left: 15%;
  font-family: 'Hind', sans-serif;
}

label{
  color: #ffffff;
  font-size: 1.1em;
  width: 200px;
}

input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-class{
  display: flex;
}

.input-label-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  width: 40%;
  background-color: #069AD8;
  color: white;
  padding: 14px 20px;
  margin: 6% 0 0 30%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #094270;
}
