h1{
  color: white;
  font-size: 2rem;
  font-family: 'Hind', sans-serif;
  text-align: center;
}

form{
  width: 70%;
  margin-left: 15%;
  font-family: 'Hind', sans-serif;
}

label{
  color: #ffffff;
  font-size: 1.1em;
}

input[name="nom"],input[name="adresseMail"],input[name="password"],input[name="confirmPassword"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: #069AD8;
  color: white;
  padding: 14px 20px;
  margin: 6% 0 0 30%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #094270;
}
