<div>
<h1>Catégorie choisie</h1>

<h2 [ngClass]="{'selection_cat': codeCat==null}" (click)="this.filmCategorieService.goTousFilms()">Tous les films</h2>
<h2 [ngClass]="{'selection_cat': codeCat=='28'}" (click)="this.filmCategorieService.goActionFilms()">Action</h2>
<h2 [ngClass]="{'selection_cat': codeCat=='35'}" (click)="this.filmCategorieService.goComedieFilm()">Comédie</h2>
<h2 [ngClass]="{'selection_cat': codeCat=='80'}" (click)="this.filmCategorieService.goPolicierFilm()">Policier</h2>
<h2 [ngClass]="{'selection_cat': codeCat=='37'}" (click)="this.filmCategorieService.goWesternFilm()">Western</h2>

<app-videos></app-videos>
</div>
