h1{
  display: inline-block;
  color: white;
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  margin-left: 3%;
  margin-top: 3%;
}

h2{
  display: inline-block;
  color: white;
  font-family: 'Hind', sans-serif;
  font-size: 1em;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
}

h2:hover{
  color: #E50914;
}

.selection_cat{
  color:#E50914;
}
