header{
  height:30%;
  background-color: black;
}

header img{
  width: 7.25%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}

header ul{
  display: inline-block;
  margin-top: 1.5%;
  width: 50%;
  margin-left: 2%;
}

header li{
  list-style: none;
  display: inline-block;
  margin-right: 2%;

}
.selection_cat{
  color:#E50914 !important;
}

header a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
}

header a:link{
  color: white;
}


header a:hover{
  color: #E50914;
}

header .imgNav{
  display: inline-block;
  width:10%;
  float: right;
  margin-top: 1%;
}

header .bulleCompte{
  height: 80px;
  width: 80px;
  margin-top: 1em;
}

header > .imgNav > img{
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: 10%;
}

.barreRecherche{
  position: absolute;
  border: 1px solid;
  color: white;
  width: 40%;
  height: 5%;
  top:2.5%;
  left:50%;
  transform-origin: 100% 0;
  animation: 0.3s ease-in-out zoneDeRecherche;
  animation-fill-mode: forwards;
}

.barreRecherche input{
  height: 82%;
  width: 98.7%;
  background-color: black;
  border-color: black;
  color: white;
}

.imageCompte:hover{
  transform: scale(1.2);
}

.imageCompte:hover + .popupProfil{
  display: block;
}

.lien-actif{
  color: #E50914;
}

/*popup profil*/

.row-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.col-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: auto;
}

.imgNav .popupProfil{
  border-radius: 10px;
  background-color: #2b2b2b;
  z-index: 10;
  width: 22%;
  height: auto;
  margin-left: -15%;
  margin-top: 1%;
  position: absolute;
}

.popupProfil ul{
  display: inline-block;
  margin: 0%;
  padding-top: 5%;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
}

.popupProfil li{
  margin: 0%;
}

.popupProfil li p{
  margin-left: -80%;
  margin-top: -20%;
  font-size: 0.8rem;
  font-family: 'Hind', sans-serif;
  color: white;
}

.bulleCompte:hover{
  transform: scale(1.1);
  cursor:pointer;
}

.bulleCompte + span{
  font-size: 1.2rem;
  font-family: 'Hind', sans-serif;
  color: white;
}

.popupProfil p{
  text-align: center;
  font-size: 1rem;
  font-family: 'Hind', sans-serif;
  color: #E50914;
  cursor: pointer;
}

.popupProfil hr{
  background-color: grey;
  border:none;
  height: 1px;
}

.liste_gestion_profil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liste_gestion_profil img {
  margin-right: 10px;
}

.liste_gestion_profil:hover{
  background-color: gray;
}

.popupProfil .liste_gestion_profil  p{
  font-size: 20px;
  color: white;
}

.managerConnexion{
  background-color: #393939;
  width: 70%;
  height: 8%;
  margin-left: 15%;
}

.managerConnexion:hover{
  background-color: #454545;
}

.managerConnexion p{
  color: white;
  padding-top: 3%;
}

.v-show{
  animation: 0.2s ease-in-out v-show-animation;
  opacity: 1;
  display: block;
}

.v-hide{
  animation: 0.2s ease-in-out v-hide-animation;
  display: none;
  opacity: 0;
}

.txtContainer{
  display: block;
}

/*------ANIMATION-------*/
@keyframes zoneDeRecherche {

  from {
    transform-origin: 100% 0;
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform-origin: 100% 0;
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes v-show-animation {
  from{
    opacity: 0%;
  }
  50%{
    opacity: 50%;
  }
  to{
    opacity: 100%;
  }
}

@keyframes v-hide-animation {
  from{
    opacity: 100%;
  }
  50%{
    opacity: 50%;
  }
  to{
    opacity: 0%;
  }
}

