<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
</head>

<header>
  <a routerLink="/home" ><h3 style="display: inline;">Polycinema</h3></a>
  <ul>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('home')}" routerLink="home" >Accueil</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('categories')}" routerLink="categories" >Films</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('gestionVideo')}" routerLink="gestionVideo" >Gérer les films</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('acteurs')}" routerLink="acteurs" >Acteurs</a></li>
    <li><a [ngClass]="{'selection_cat': this.routeName?.includes('realisateurs')}" routerLink="realisateurs" >Realisateurs</a></li>
  </ul>
  <div class="imgNav">
    

    <img class="imageCompte" (mouseenter)="showPopUpProfile=true" src="../../../assets/img/mon_compte.png" />
    <div [ngClass]="{'v-show': showPopUpProfile === true, 'v-hide': showPopUpProfile === false}" (mouseleave)="showPopUpProfile=false" class="popupProfil">
      <div class="row-menu">
        <div class="col-menu" *ngIf="connectedUtilisateur" (click)="goGestionProfils()">
          <img class="bulleCompte"  src="../../../assets/img/mon_compte.png" />
          <span>{{this.connectedUtilisateur.login}}</span>
        </div>
      
      </div>
      <hr>
      <div class="liste_gestion_profil" (click)="goGestionProfils()">
          <img style="margin-left: 0%" src="../../../assets/img/mon_compte.png"/>
          <p>Mon compte</p>
      </div>
      <div class="managerConnexion" (click)="managerConnexion()">
        <p *ngIf="this.isAuth">Se déconnecter</p>
        <p *ngIf="!this.isAuth">Se connecter</p>
      </div>
    </div>
  </div>
  <hr>
</header>

