<div class="blur">
  <h1>Films</h1>
  <div class="grille">
    <div class="" *ngFor="let film of films">
      <div class="imgContainer">
        <img src="{{'https://image.tmdb.org/t/p/original' + film.poster_path}}" class="afficheFilm" (click)="showPopUp(film)">
      </div>
      <div class="txtContainer">
        <h3 class="titre">{{ film.title }}</h3>
        <p  style="cursor: pointer">{{ film?.codeCat?.libelleCat }}</p></div>
    </div>
  </div>

  <div class="popup" *ngIf="popUp">
    <div class="col">
      <img class="imgFilm" src="{{'https://image.tmdb.org/t/p/original' +film?.poster_path}}">
    </div>
    <div class="col col-info">

      <img (click)="popUp = false" src="assets/img/annuler.png" class="croixPopUp">
      <h1>{{ film?.title }}</h1>

      <h3>Catégorie:</h3>
      <p>{{ film?.codeCat?.libelleCat }}</p>
      <br>

      <h3> De : </h3>
      <p>{{film?.director_id }}</p>
      <br>

      <h3> Casting : </h3>
      <ul>
        <li *ngFor="let p of personnages ">{{ p?.acteur?.name }}</li>
      </ul>
      <br>

      <h3> Durée : </h3>
      <p>{{ toHoursAndMinutes(film?.runtime) }}</p>
      <br>

      <h3> Budget : </h3>
      <p>{{ toEuro(film?.budget) }}</p>
      <br>

      <h3> Recette : </h3>
      <p>{{ toEuro(film?.revenue) }}</p>
      <br>

      <h3> Sortie le : </h3>
      <p>{{ film?.release_date }}</p>
      <br>
    </div>

  </div>

</div>

